Bitmap_1 BITMAP "Images Modules système\\badge.bmp"
Bitmap_2 BITMAP "Images Modules système\\beach volley.bmp"
Bitmap_3 BITMAP "Images Modules système\\blanc.bmp"
Bitmap_4 BITMAP "Images Modules système\\bleu.bmp"
Bitmap_5 BITMAP "Images Modules système\\brioche.bmp"
Bitmap_6 BITMAP "Images Modules système\\fleur.bmp"
Bitmap_7 BITMAP "Images Modules système\\metal.bmp"
Bitmap_8 BITMAP "Images Modules système\\pissenlit.bmp"
Bitmap_9 BITMAP "Images Modules système\\point.bmp"
Bitmap_10 BITMAP "Images Modules système\\pomme de douche.bmp"
Bitmap_11 BITMAP "Images Modules système\\rond rayé.bmp"
Bitmap_12 BITMAP "Images Modules système\\rond torsadé.bmp"
Bitmap_13 BITMAP "Images Modules système\\rouge.bmp"
Bitmap_14 BITMAP "Images Modules système\\TrackBall.bmp"
Bitmap_15 BITMAP "Images Modules système\\vert.bmp"
Bitmap_16 BITMAP "Images Modules système\\violet.bmp"
